body {
    background: #ccc;
}

h1 {
    text-align: center;
    font-family: 'Faster One', cursive;
    border-bottom: 3px solid rgb(228, 112, 45);
    width:50%;
    line-height: 40px;
    margin: 20px auto;
    font-size: 25px;
}

.app {
    border:3px solid #000;
    width: 90%;
    height:400px;
    font-weight:bold;
    display: flex;
    margin: 30px auto;
    flex-direction: column;
    box-shadow: 0 2px 10px #000;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.header {
    display: flex;
    align-items: center;
    background: rgb(30, 84, 155);
}

.header > * {
    color:rgb(238, 238, 238);
    font-size: 12px;
}

.header__turno {
    padding:10px;
}

.header__estado {
    padding: 10px;
    flex-grow: 1;
    text-align: center;
    color:aqua;
}

.header__estado::first-letter{
    color:rgb(248,25,73);
    vertical-align: middle;
}

.header__reiniciar {
    background: none;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    outline:none;
    cursor:pointer;
    padding:0 12px 0 0;
}

/*====================
------TABLERO---------
====================*/

.tablero {
    display: grid;
    background: #ccc;
    gap:10px;
    padding: 10px;
    flex-grow: 1;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
}

.tablero__azulejo {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    font-size: 80px;
    cursor:pointer;
    font-family: 'Courier New', Courier, monospace;
    color:#222;
}

.tablero__azulejo:hover {
    background: rgb(202, 197, 197);
}

.tablero__azulejo--ganador {
    color:rgb(61, 216, 61);
}




@media (min-width:450px) {
    h1 {
        font-size: 30px;
        width: 55%;
        max-width: 280px;
    }

    .app {
        width:70%;
        height:500px;
        max-width: 500px;
    }

    .header > * {
        font-size: 15px;
    }
}

@media (min-width:768px) {
    h1 {
        font-size: 40px;
        width: 50%;
        max-width: 370px;
    }

    .app {
        width:50%;
        height:500px;
        max-width: 500px;
    }

    .header > * {
        font-size: 18px;
    }

    .header__turno {
        padding:12px;
    }
    
    .header__estado {
        padding: 12px;
    }
}